body {
    text-align: center;
}

h1 {
    margin: auto;
    outline: yellow 2px solid;
    width: 409px;
    color: rgb(100, 100, 238);
}
.mother_of_all {
    display: flex;
    width: 50vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    margin: auto
}
#grid-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 80vh;
    background-color: white;
    margin: auto;
    margin-top: 60px;
}
#gridSize {
    height: 28px;
    padding: 0px;
    margin: 0px;
    width: 110px;
}


select {
    height: 28px;
}
.buttons {
    display: flex;
    flex-direction: row;
    width: 409px;
    margin: auto;
    justify-content: space-between;
    gap: 8px;
    margin-top: 10px;
    flex: 1;
}

input {
    height: 28px;
    width: 90px;
}
.gridRow {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.gridCell {
    flex: 1; /* Allows cells to take up equal width within the row */
    /* background-color: #fdfdfd;
    border: 1px solid #f1f1f1; */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}



